@model ConnectionLibrary.Model.Result
@{
    ViewBag.Title = "Moto Bhag";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">સ્વયંસેવક યાદી</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Master")">Home</a></li>
                            <li class="breadcrumb-item active">Bulk Action</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <section class="content">
            <form id="frmrss">
                <div class="container-fluid">
                    <!-- SELECT2 EXAMPLE -->


                    <div id="Datalist">
                        @Html.Partial("~/Views/Shared/Partial/_ViewMSevaVasti.cshtml", Model)
                    </div>

                      @* <div id="Datalist">
                            @Html.Partial("~/Views/Shared/Partial/_ViewMsYSevaVasti.cshtml", Model)
                       </div>*@


                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg" style="max-width: 950px;">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header py-2">
                                    <h4 class="modal-title">તમારી એક્સેલ ફાઈલ XLSX ફોરમેટ માં હોવી જોઈએ</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <input name="file" class="btn btn-info" type="file" required />
                                        <button class="btn btn-info" type="submit">Import</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- /.card -->
                </div>
                <!-- /.container-fluid -->
            </form>
        </section>
    </div>
</form>
    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
                var $VastiSelect;
                $("a").filter(".nav-link active").removeClass("nav-link active");
                $("#motobhag").addClass("nav-link active");
                $("#Master").addClass("nav-link active");
                $("li").filter(".nav-item menu-open").removeClass("nav-item menu-open");
                $("#Masterli").addClass("nav-item menu-open");
                $VastiSelect = InitSelect2FromRemote("#drpVasti", "/Master/GetVastiDrpList", "Select Vasti", true, 1, 1, false);
                function InitSelect2FromRemote(element, url, placeholder, multival, minInputLen, maximumSelectionLength, allowTaging) {  // multival = true or false
                    multival = multival || false;
                    return $(element).select2({
                        tags: allowTaging,
                        placeholder: placeholder,
                        minimumInputLength: minInputLen,
                        maximumSelectionLength: maximumSelectionLength,
                        multiple: multival,
                        ajax: {
                            url: url,
                            dataType: 'json',
                            data: function (params) {
                                return {
                                    term: params.term
                                };
                            },
                            processResults: function (data) {
                                return {
                                    results: data,
                                    more: false
                                };
                            },
                            cache: true
                        },
                    });
                }

                $('#drpSearchBhag').change(function () {
                    //alert($('#drpSearchBhag option:selected').val());
                    if ($('#drpSearchBhag option:selected').val() != "0") {
                        $.ajax({
                            type: "GET",
                            url: "/Master/Fill_SearchSevaVastiControl",
                            data: { BhagID: $('#drpSearchBhag option:selected').val() },
                            timeout: 600000,
                            success: function (data) {
                                //alert(data.Nagar.length);
                                if (data != null);
                                {
                                    var markupnagar = "<option value='0'>--Select Nagar--</option>";
                                    if (data.Nagar != null) {
                                        for (var x = 0; x < data.Nagar.length; x++) {
                                            markupnagar += "<option value=" + data.Nagar[x].NagarID + ">" + data.Nagar[x].Nagar + "</option>";

                                        }
                                        $("#drpSearchNagar").html(markupnagar).show();
                                    }
                                    var markupvasti = "<option value='0'>--Select Vasti--</option>";
                                    if (data.Vasti != null) {
                                        for (var x = 0; x < data.Vasti.length; x++) {
                                            markupvasti += "<option value=" + data.Vasti[x].VastiID + ">" + data.Vasti[x].Vasti + "</option>";

                                        }
                                        $("#drpSearchVasti").html(markupvasti).show();
                                    }

                                    var markupshakha = "<option value='0'>--Select SevaVasti--</option>";
                                    if (data.SevaVasti != null) {
                                        for (var x = 0; x < data.SevaVasti.length; x++) {
                                            markupshakha += "<option value=" + data.SevaVasti[x].SVID + ">" + data.SevaVasti[x].SevaVasti + "</option>";

                                        }
                                        $("#drpSearchSevaVasti").html(markupshakha).show();
                                    }

                                }

                            },
                        });

                    }
                });
            });

            $("#btnSave").click(function () {
                // alert($('#drpNagar option:selected').val());
                var TValidate = true;
                if (TValidate) {
                    if ($("#drpVasti").val() == "0") {
                        toastr.error("Please Select Vasti");
                        $("#drpVasti").focus();
                        TValidate = false;
                    }

                }
                if (TValidate) {
                    if ($("#txtSevavasti").val() == "") {
                        toastr.error("Please Enter SevaVasti");
                        $("#txtSevavasti").focus();
                        TValidate = false;
                    }

                }

                if (TValidate) {

                    $.ajax({
                        type: "POST",
                        url: "/Master/InsertSevaVasti",
                        data: $("#frmrss").serialize(),
                        timeout: 600000,
                        beforeSend: function () {
                            $('#milan').css("display", 'block');
                        },
                        success: function (data) {

                            if (data == "-1") {
                                window.location.href = "/account/logoff";
                            }
                            else if (data == "0") {
                                toastr.error("No Records Found");
                            }
                            else {

                                $("#Datalist").html(data);
                                //$("#myModal").css("display", "none");
                                toastr.info("Record Save Successfully!!");
                                Clear();
                                $.ajax({
                                    type: "GET",
                                    url: "/Master/ClearVastiVast",
                                    timeout: 600000,
                                    success: function (data) {

                                        if (data == "0") {

                                            toastr.error("Record Not Found!! ");

                                        }
                                        else {
                                            $("#Droplist").html(data);
                                            var $VastiSelect;
                                            $VastiSelect = InitSelect2FromRemote("#drpVasti", "/Master/GetVastiDrpList", "Select Vasti", true, 1, 1, false);
                                            function InitSelect2FromRemote(element, url, placeholder, multival, minInputLen, maximumSelectionLength, allowTaging) {  // multival = true or false
                                                multival = multival || false;
                                                return $(element).select2({
                                                    tags: allowTaging,
                                                    placeholder: placeholder,
                                                    minimumInputLength: minInputLen,
                                                    maximumSelectionLength: maximumSelectionLength,
                                                    multiple: multival,
                                                    ajax: {
                                                        url: url,
                                                        dataType: 'json',
                                                        data: function (params) {
                                                            return {
                                                                term: params.term
                                                            };
                                                        },
                                                        processResults: function (data) {
                                                            return {
                                                                results: data,
                                                                more: false
                                                            };
                                                        },
                                                        cache: true
                                                    },
                                                });
                                            }


                                        }

                                    },
                                });

                            }
                        },
                        complete: function () {
                            $('#milan').css("display", 'none');
                        },
                    });
                }

                return TValidate;
            });
            function Update(SVID, SevaVasti, VastiID, Nagar, Bhag, SKID, NagarID, ShakhaID) {


                $("#hdnSVID").val(SVID);
                $("#txtSevavasti").val(SevaVasti);
                $("#txtNagar").val(Nagar);
                $("#txtBhag").val(Bhag);
                $("#drpSevakary").val(SKID);
                $("#hdnNagarID").val(NagarID);

                $.ajax({
                    type: "GET",
                    url: "/Master/VastByID",
                    data: { VastiID: VastiID },
                    timeout: 600000,
                    success: function (data) {

                        if (data == "0") {

                            toastr.error("Record Not Found!! ");

                        }
                        else {
                            $("#Droplist").html(data);
                            var $VastiSelect;
                            $VastiSelect = InitSelect2FromRemote("#drpVasti", "/Master/GetVastiDrpList", "Select Vasti", true, 1, 1, false);
                            function InitSelect2FromRemote(element, url, placeholder, multival, minInputLen, maximumSelectionLength, allowTaging) {  // multival = true or false
                                multival = multival || false;
                                return $(element).select2({
                                    tags: allowTaging,
                                    placeholder: placeholder,
                                    minimumInputLength: minInputLen,
                                    maximumSelectionLength: maximumSelectionLength,
                                    multiple: multival,
                                    ajax: {
                                        url: url,
                                        dataType: 'json',
                                        data: function (params) {
                                            return {
                                                term: params.term
                                            };
                                        },
                                        processResults: function (data) {
                                            return {
                                                results: data,
                                                more: false
                                            };
                                        },
                                        cache: true
                                    },
                                });
                            }
                        }

                    },
                });

                $.ajax({
                    type: "GET",
                    url: "/Master/Fill_AddSevavastiDetail",
                    data: { VastiID: VastiID },
                    timeout: 600000,
                    success: function (data) {

                        if (data != null);
                        {

                            $("#txtNagar").val(data.Nagar);

                            $("#txtBhag").val(data.Bhag);
                            $("#hdnNagarID").val(data.NagarID);

                            var markup = "<option value='0'>--Select Shakha--</option>";
                            if (data.ShakhaList != "") {

                                for (var x = 0; x < data.ShakhaList.length; x++) {
                                    // alert(ShakhaID + ' or ' + data.ShakhaList[x].ShakhaID.toString());
                                    //alert(data.ShakhaList[x].ShakhaID.toString() == ShakhaID.toString());
                                    if (data.ShakhaList[x].ShakhaID.toString() == ShakhaID.toString()) {
                                        // alert(ShakhaID + 'if' + data.ShakhaList[x].ShakhaID.toString());
                                        markup += "<option value=" + data.ShakhaList[x].ShakhaID + " selected='selected'>" + data.ShakhaList[x].ShakhaName + "</option>";
                                    }
                                    else {

                                        markup += "<option value=" + data.ShakhaList[x].ShakhaID + ">" + data.ShakhaList[x].ShakhaName + "</option>";
                                    }
                                }
                                $("#drpShakha").html(markup).show();
                            }
                        }

                    },
                });

            }
            function Clear() {
                $("#txtSevavasti").val('');
                $("#txtNagar").val('');
                $("#txtBhag").val('');
                $("#drpVasti").val('');
                $("#drpShakha").val('0');
                $("#drpSevakary").val('0');
                $("#hdnNagarID").val('');
                $("#hdnSVID").val('');
                $.ajax({
                    type: "GET",
                    url: "/Master/ClearVastiVast",

                    timeout: 600000,
                    success: function (data) {

                        if (data == "0") {

                            toastr.error("Record Not Found!! ");

                        }
                        else {
                            $("#Droplist").html(data);
                            var $VastiSelect;
                            $VastiSelect = InitSelect2FromRemote("#drpVasti", "/Master/GetVastiDrpList", "Select Vasti", true, 1, 1, false);
                            function InitSelect2FromRemote(element, url, placeholder, multival, minInputLen, maximumSelectionLength, allowTaging) {  // multival = true or false
                                multival = multival || false;
                                return $(element).select2({
                                    tags: allowTaging,
                                    placeholder: placeholder,
                                    minimumInputLength: minInputLen,
                                    maximumSelectionLength: maximumSelectionLength,
                                    multiple: multival,
                                    ajax: {
                                        url: url,
                                        dataType: 'json',
                                        data: function (params) {
                                            return {
                                                term: params.term
                                            };
                                        },
                                        processResults: function (data) {
                                            return {
                                                results: data,
                                                more: false
                                            };
                                        },
                                        cache: true
                                    },
                                });
                            }

                        }

                    },
                });

            }
            function Delete(SVID) {
                // alert(SVID);
                $.ajax({
                    type: "GET",
                    url: "/Master/DeleteSevavasti/",
                    data: { SVID: SVID },
                    timeout: 600000,
                    beforeSend: function () {
                        $('#milan').css("display", 'block');
                    },
                    success: function (data) {
                        if (data == "-1") {
                            window.location.href = "/account/logoff";
                        }
                        else if (data == "0") {
                            toastr.error("No Records Found");
                        }
                        else {
                            $("#Datalist").html(data);
                            toastr.info("Record Deleted Sucessfully!!")
                        }

                    },
                    complete: function () {
                        $('#milan').css("display", 'none');
                    },
                });
            }


            $("#btnSearch").click(function () {
                // alert($('#drpNagar option:selected').val());
                $("#hdnp").val(0);
                var TValidate = true;
                if (TValidate) {
                    if ($("#drpSearchBhag").val() == "0") {
                        toastr.error("Please Select Bhag");
                        $("#drpSearchBhag").focus();
                        TValidate = false;
                    }

                }
                if (TValidate) {

                    $.ajax({
                        type: "POST",
                        url: "/Master/SearchSevavasti",
                        data: $("#frmrss").serialize(),
                        timeout: 600000,
                        beforeSend: function () {
                            $('#milan').css("display", 'block');
                        },
                        success: function (data) {
                            if (data == "-1") {
                                window.location.href = "/account/logoff";
                            }

                            else {
                                $("#Datalist").html(data);
                                if ($("#hdntotal").val() == "0") {
                                    toastr.error("No Record Found !!");
                                }
                            }
                        },
                        complete: function () {
                            $('#milan').css("display", 'none');
                        },
                    });
                }

                return TValidate;
            });

            function GetRecords(p) {
                // alert('hi');
                $("#hdnp").val(p);
                $.ajax({
                    type: "GET",
                    url: "/Master/SearchSevavasti",
                    data: $("#frmrss").serialize(),
                    timeout: 600000,
                    beforeSend: function () {
                        $('#milan').css("display", 'block');
                    },
                    success: function (data) {
                        if (data == "-1") {
                            window.location.href = "/account/logoff";
                        }
                        else if (data == "0") {
                            toastr.error("No Records Found");
                        }
                        else {
                            $("#Datalist").html(data);
                        }
                    },
                    complete: function () {
                        $('#milan').css("display", 'none');
                    },
                });
            }
            function Binddata(ddlvasti) {


                var selectedText = ddlvasti.options[ddlvasti.selectedIndex].innerHTML;
                var selectedValue = ddlvasti.value;

                // alert("Selected Text: " + selectedText + " Value: " + selectedValue);

                if (selectedValue != " ") {
                    $.ajax({
                        type: "GET",
                        url: "/Master/Fill_AddSevavastiDetail",
                        data: { VastiID: $('#drpVasti option:selected').val() },
                        timeout: 600000,
                        success: function (data) {
                            // alert(data.Nagar);
                            if (data != null);
                            {
                                $("#txtNagar").val(data.Nagar);

                                $("#txtBhag").val(data.Bhag);
                                $("#hdnNagarID").val(data.NagarID);
                                //alert($("#hdnNagarID").val());
                                var markup = "<option value='0'>--Select Shakha--</option>";
                                if (data.SevavastiList != "") {
                                    for (var x = 0; x < data.ShakhaList.length; x++) {
                                        markup += "<option value=" + data.ShakhaList[x].ShakhaID + ">" + data.ShakhaList[x].ShakhaName + "</option>";
                                    }

                                }

                                $("#drpShakha").html(markup).show();
                            }

                        },
                    });

                }


            }
        </script>
    }
@*</form>*@